.input {
    width: 100%;
    padding: 8px 20px;
}

.titleInput {
    font-size: 32px;
}

.specialInput {
    border-bottom: 1px solid #fff;
}

.formInput {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 50px 50px;
    /*width: 500px;*/
}

.errorText {
    color: #f80707;
    font-size: 14px;
}

.errorInput {
    border: 2px solid #f80707;
}