.cardButton {
  background: rgba(153, 50, 204, 0.5);
  border-radius: 10px;
  padding: 8px;
  text-align: left;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
}

.journalAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
